site_name: IZO-SGI Scientific Computing (ARINA)
site_url: https://scc.ehu.eus
theme:
  name: material
  font: 
     text: Noto Sans
     code: Red Hat Mono
  # NOT WORKING !! (check out material documentation )
  logo: img/sgiker-square.png  #copilot-logo.png
  favicon: img/favicon.ico
  #features:
  #  - navigation.footer
  palette: 
    # Dark Mode 
    #-media: "(prefers-color-scheme: light)"
    - scheme: izosgi-dark
      toggle: 
        icon: material/weather-sunny
        name: Light mode
      #primary: indigo
      #accent: deep purple

    # Light Mode 
    #- media: "(prefers-color-scheme: dark)"
    - scheme: izosgi-light #default 
      toggle: 
        icon: material/weather-night
        name: Dark mode
      #primary: light blue # banner
      #accent: purple

nav:
  - Welcome to Arina: index.md
  - Access: 
    - Get an Account: access/account.md
    - How to connect: access/connect.md
  - Hardware: 
    - Resources: hardware/resources.md
    - Nodes: hardware/nodes.md
    - Storage: hardware/filesystems.md
    - Network: hardware/network.md
  - Running Jobs: 
    - Modules: jobs/modules.md
    - Submitting jobs: jobs/slurm.md
    - Batch scripts: jobs/batch_scripts.md
    - Interactive sessions: jobs/interactive.md
  - List of Rates: prices.md
  - About us: 
    - ARINA Team: contact/about.md
    - Contact: contact/contact.md

extra_css:
  #- css/overrides.css
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  #- pymdownx.inlinehilie
  - pymdownx.snippets:
      check_paths: true
      url_download: false
      url_max_size: 33554432
      url_timeout: 10
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format 
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - admonition
  - pymdownx.details
  # for align and captions of figures
  - md_in_html
  - pymdownx.blocks.caption


extra:
  social:
    - icon: material/linkedin
      link: https://linkedin.com/in/joaquim-jornet-somoza-61a7a5b4 
    - icon: material/email
      link: /contact/contact
    - icon: material/account
      link: http://www.ehu.eus/sgi/CUENTA



copyright: Copyright &copy; 2025 IZO-SGIker